@import "resets";
@import "variables";
@import "config";
@import "../fontawesome/css/all.css";

body {
  background: linear-gradient(to right, rgb(39, 39, 39), rgba(39, 39, 39, 0.92));;
  color: set-text-color(color(primary));
  height: 100vh;
  line-height: 1;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-weight: 400;
}

a {
  color: set-text-color(color(primary));
  text-decoration: none;
}

main {
  padding: 3.5em 0;
  height: 100vh;
  overflow: auto;

  @media only screen and (max-width: 800px) {
    height: calc(100vh - 3.5em);
  }
}

@media only screen and (min-width: 600px) {
  ::-webkit-scrollbar {
    width: 10px;
    height: 5px;
  }

  ::-webkit-scrollbar-thumb {
    background: #0000004d;
    border-radius: 10px;
  }

  :hover::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.64);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
