main {


  %row {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    @extend %row;

    @media only screen and (max-width: 800px) {
      width: 95%;
    }

    .movie-container {
      @extend %row;

      padding-top: 3em;
      display: flex;
      font-size: 1rem;
      font-weight: 700;
      justify-content: center;
      text-align: center;
      order: 1;
      flex: 1;
      @media only screen and (max-width: 800px) {
        display: block;
      }

      .description {
        flex: 10;
        padding: 3em;
        display: flex;
        align-content: center;
        font-size: 1.5em;
        @media only screen and (max-width: 800px) {
          padding: 1em 0;
          font-size: unset;
        }
      }
    }

    .movie-name {
      order: 2;
      @extend %row;

      @media only screen and (max-width: 800px) {
        order: 0;
        text-align: center;
      }

      p {
        padding: 0.5em 0;
        opacity: 0.8;
      }
    }

    h1 {
      padding-top: 1em;
    }

    .genre {
      text-transform: uppercase;
      margin: 0.25em;
      font-size: 10px;
      font-weight: 700;
    }
  }

}

