
<app-header [canGoBack]="true" (backPressed)="back()" [hideSearch]="true"></app-header>

<main *ngIf="movie" #main>
  <div class="container">
    <div class="movie-name">
      <h1>{{movie.name}}</h1>
      <span class="genre" *ngFor="let genre of movie.genres; let l=last">{{genre}} {{!l?',':''}}</span>
      <p>
        {{movie.length}}
      </p>
    </div>

    <div class="movie-container">
      <div>
        <img [src]="movie.img" (error)="errorImage = true" *ngIf="!errorImage; else imageUnavailable">
      </div>
      <div class="description">
        {{movie.description}}
      </div>
      <ng-template #imageUnavailable>
        <app-image-not-available></app-image-not-available>
      </ng-template>
    </div>


  </div>



  <div *ngIf="mostRated?.length">
    <app-slider [genre]="'mostRated'" [movies]="mostRated"></app-slider>
  </div>
  <div *ngIf="relatedMovies?.length">
    <app-slider [genre]="'relatedMovies'" [movies]="relatedMovies"></app-slider>
  </div>
</main>

