<app-header (search)="filterFilms($event)"></app-header>
<main>
  <div *ngIf="topRated?.length">
    <app-slider [genre]="'topRated'" [movies]="topRated"></app-slider>
  </div>

  <ng-container *ngIf="moviesGroupedByGenre">
    <ng-container *ngFor="let genre of genres">
      <div *ngIf="moviesGroupedByGenre[genre]?.length">
        <app-slider [genre]="genre" [movies]="moviesGroupedByGenre[genre]"></app-slider>
      </div>
    </ng-container>
  </ng-container>
</main>
