.not-found {
  position: relative;
  background: #ababab9e;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 0px #000000;
  width: 150px;
  height: 220px;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    width: 135px;
  }


  div {
    font-size: 12px;
  }
}

:host{
  height: 100%;
}
