@import "./src/assets/scss/variables";

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
  height: 3.5em;
  top: 0;
  background-color: color(primary);
  opacity: 0.9;

  @media only screen and (max-width: 800px) {
    height: 3.5em;
  }

  .back {
    cursor: pointer;
  }

  .nav {
    display: flex;
  }

  .input-container {
    margin-left: auto;
    position: relative;

    input {
      border: none;
      background: transparent;
      border-bottom: 2px solid #eaeaea;
      color: #eaeaea;
      width: 15em;
      font-weight: 400;
      height: 2em;
      outline: none;
      padding-right: 21px;
      border-radius: 0;
      -webkit-appearance: none;
    }

    @media only screen and (min-width: 600px) {
      input {
        width: 20em;
      }
    }

    .icon-inline {
      position: absolute;
      right: 5px;
      font-size: 13px;
      top: 5px;
    }
  }
}
