<header>
  <nav class="nav">
    <div *ngIf="canGoBack">
      <i class="fa fa-arrow-left back" (click)="backPressed.emit()"></i>
    </div>
    <div class="input-container" *ngIf="!hideSearch">
      <input [(ngModel)]="searchText" (ngModelChange)="_search$.next($event)">
      <i class="fa fa-search icon-inline"></i>
    </div>
  </nav>
</header>
