@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/config";

.genre {
  padding: 0 0 0.25rem;
  margin: 0 50px;
  text-transform: capitalize;

  @media only screen and (max-width: 600px) {
    margin: 0 10px;
    font-size: 16px;
    font-weight: 700;
    padding: 0;
  }
}



.slider {
  padding: 0.25rem 0 1rem;
  margin: 0 50px;
  text-align: center;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    margin: 0;
    padding: 0.25rem;
  }

  .slides {
    display: flex;
    padding: 0 0 0.25rem 0;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    .movie-container {
      scroll-snap-align: start;
      flex-shrink: 0;
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.25rem;
      overflow: hidden;


      .info-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2em;
        background: color(primary);
        opacity: 0.9;
        color: set-text-color(color(primary));
        font-weight: 700;
        display: flex;

        .rating {
          align-content: flex-start;
          margin: auto;
          border: solid 1.5px;
          border-radius: 50%;
          width: 25px;
          height: 25px;
          display: flex;

          span {
            font-size: 10px;
            align-content: center;
            margin: auto;
          }
        }

        .length {
          align-content: flex-end;
          margin: auto;
          display: flex;
          font-size: 13px;
        }

        .i-description {
          @extend .length;
          margin: auto;
          cursor: pointer;
        }

      }

      &:last-child {
        margin-right: 0;
      }

      &:first-child {
        margin-left: 0;
      }

      .img-preview {
        webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px #000000;
        width: 150px;

        @media only screen and (max-width: 600px) {
          width: 135px;
        }
      }

    }
  }
}



