<h1 class="genre" translate>{{genre}}</h1>
<div class="slider">
  <div class="slides" #slides>
    <div class="movie-container" *ngFor="let movie of movies; let i=index" [id]="movie.id">
      <img class="img-preview" (error)="error($event, movie)" [src]="movie.img"
           *ngIf="!errors[movie.id]; else noPreview">
      <ng-template #noPreview>
        <app-image-not-available></app-image-not-available>
      </ng-template>

      <div class="info-container">
        <div class="rating">
          <span>
          {{movie.rate}}
          </span>
        </div>
        <div class="length">
          <span>
            {{movie.length}}
          </span>
        </div>
        <div [routerLink]="['/movies',movie.id]" class="i-description">
          <i class="fa fa-info-circle" [title]="'moreDetails' | translate"></i>
        </div>
      </div>
    </div>
  </div>
</div>

